.boton {
   background: #ffff33;
   background-image: -webkit-linear-gradient(top, #ffff33, #ffff33);
   background-image: -moz-linear-gradient(top, #ffff33, #ffff33);
   background-image: -ms-linear-gradient(top, #ffff33, #ffff33);
   background-image: -o-linear-gradient(top, #ffff33, #ffff33);
   background-image: linear-gradient(to bottom, #ffff33, #ffff33);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: Arial;
   color: black;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   width: 30%
} 

#boton2 {
   background: black;
   background-color: black;

   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: Arial;
   color: black;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   width: 30%
} 